@import "vars";
@import "mixins";

img {
    vertical-align: top;
}
body {
    background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 5%) #333;
}
.wrap {
    font-family: "Lexend", "Noto Sans KR";
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 48px;
        margin: 50px 0;
        text-align: center;
        font-weight: 600;
        color: #fff;
    }
    #writtenWord {
        ul {
            display: flex;
            width: 700px;
            flex-wrap: wrap;
            justify-content: center;
            li {
                margin: 5px;
                background-color: darkred;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                padding: 10px 20px;
                @include longShadow(darken(darkred, 10), right, 30);
                overflow: hidden;
                width: 80px;
                height: 20px;
                font-size: 18px;
            }
        }
    }
    .inputBox {
        position: fixed;
        width: 100%;
        bottom: 200px;
        display: flex;
        justify-content: center;
    }
    #word {
        border: none;
        background-color: #fff;
        padding: 15px 40px;
        font-size: 20px;
        border-radius: 100px;
        overflow: hidden;
        outline: none;
        text-align: center;
    }
    .reset {
        position: fixed;
        bottom: 100px;
        padding: 10px 20px;
        border-radius: 100px;
        border: none;
        margin: 5px;
        background-color: darkred;
        color: #fff;
        @include longShadow(darken(darkred, 10), right, 30);
        overflow: hidden;
        font-size: 18px;
        font-weight: 600;
        transition: 0.25s;
        &:hover {
            background-color: #111;
            @include longShadow(darken(#111, 10), right, 30);
        }
    }
    .score {
        position: fixed;
        bottom: 280px;
        color: #fff;
        font-size: 18px;
        border-bottom: 2px solid #fff;
    }
    .time {
        color: #fff;
        margin: 0 0 20px 0;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid #fff;
    }
}
